@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700;800&family=Nunito:wght@400;500;600;700;800;900&display=swap');
/* Обязательно: */
* {
    margin: 0;
    padding: 0;
}
/* eeeeeeeeeeee */

/* Вверхняя часть */
#air {
    width: 100%;
    height: 40px;
    text-align: left;
    line-height: 50px;
    margin-bottom: 10px;
    float: left;
}


/*БГ*/
body {
    background-color: #cce3de;
    height: 2000px;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    text-align: left;
    background: #292933;
    z-index: 100;
    border-bottom: 2px solid #0a0a21!important;
    position: fixed;
}


.title-images {
    position: relative;
}


.image {
    max-width: 100%;
    height: auto;
    z-index: 0;
}

.logo {
    max-width: 640px;
    width: 55%;
    margin-top: 5px;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 1;
}





/* Футер */
footer {
    width: 100%;
    height: 70px;
    text-align: left;
    background: #292933;
    color:#eeeeee;
    line-height: 70px;
    float: left;
}

footer h1 {
    font-size: 15px;
    margin-left: 1%;
}

h1 .fundukus {
    max-width: 50px;
    width: 55%;
}

.border-top {
    border-top: 2px solid #0a0a21!important;
}